body{
    font-family: Arial;
}

.profile-box{
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #000000f3;
    background-color: #f2f2f2;
    margin-top: 20px;
}

.photo{
    width: 150px;
    border-radius: 10px;
}

footer{
    margin-top: 20px;
    text-align: center;
}
